  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">PostBoard - nTamura 2017 - Node, ExpressJS, MongoDB and Bootstrap</span>
    </div>
  </footer>

</body>
</html>
